* {
  -moz-box-sizgin: border-box;
  box-sizing: border-box;
}

body {
  font-family:'Lato', sans-serif;
  font-weight:300;
  font-size:14px;
  color:#666
}

a {
  text-decoration:none;
  color:#666
}

a:hover, a:active, a:focus {
  color:darkred;
  text-decoration:none
}

*::-moz-selection { background:#FFCD00 }

::selection { background:#FFCD00 }

div#wrapper {
  z-index:5;
  top:0px;
  width:100%;
  height:auto
}

div#footer {
  padding-top: 2%;
  width: 90%;
  text-align: right;
  font-size:10px;
}
