div#header {
  top:0px;
  position:fixed;
  z-index:10;
  width:100%;
  box-shadow:0px 0px 20px rgba(0,0,0,0.1), 0px 0px 3px rgba(0,0,0,0.1);
  background:white
}

div#header div#headerWrapper {
  max-width:700px;
  padding:20px 0 25px 0;
  margin:auto;
  position:relative;
  background:url(images/me.png) no-repeat center right;
}

div#header a#name {
  color:darkred;
  text-decoration:none;
  font-size:34px;
}

div#header a#name:hover {
  color:#FFCD00;
  text-decoration:none;
  font-size:34px;
}

div#header div#navigation {
  max-width:490px;
  margin:auto;
  position:relative;
}

div#header div#navigation a {
  float:left;
  padding:5px 10px;
  margin:0px 10px 10px
  0px;
  background-color:#FFF;
  text-decoration:none;
  color:darkred;
  box-shadow:0px 0px
  20px rgba(0,0,0,0.03), 0px 0px 3px rgba(0,0,0,0.03);
}

div#header div#navigation a:hover {
  text-decoration:none;
  background-color:#FFCD00;
  box-shadow:0px 0px 20px rgba(48,51,32,0.05), 0px 0px 20px rgba(0,0,0,0.03), 0px 0px 3px rgba(0,0,0,0.03);
}
